html, body {
    background-color: blue;
    margin: 0;
    width:  100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    letter-spacing: 0.025em;

    /* done so that unstyled content isn't shown when page is loading */
    visibility: visible;
    opacity: 1;
}
#c {
    width: 100%;
    height: 100%;
    display: block;
}
#input {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 0.5em;
    color: white;
    background-color: rgba(0,0,0,0.5);
}
#input::file-selector-button {
    font-weight: bold;
    color: black;
    background-color: white;
    border: thin solid rgb(230, 29, 95);
    padding: 0.5em;
    cursor: pointer;
    /* border-radius: 3px; */
}
#input::file-selector-button:hover {
    border: solid rgb(230, 29, 95);
}

#downloadlink {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 1.25em;
}

#imprint {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-size: 0.5em;
}

/*
    modals
    src: https://www.w3schools.com/howto/howto_css_modals.asp
*/
.modal {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5);
}

.modal-header {
    padding: 2px 16px;
    background-color: rgb(230, 29, 95);
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: thin solid rgb(230, 29, 95);
    width: 70%;
    animation-name: animatetop;
    animation-duration: 1.5s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
  
/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/*
    loading spinner
    src: https://www.w3schools.com/howto/howto_css_loader.asp
*/
.loader {
    display: none;
    position: absolute;
    top: calc(50% - 1em);
    left: calc(50% - 1em);
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}